<div class="sc-home">
  <div class="grid">
    <div class="col-12">
      <div class="sc-home__form">
        <ng-container *ngIf="loginCard; else signInTemplate">
          <form>
            <p-card
              styleClass="mt-10"
              header="Login"
              subheader="Faça login com sua conta existente"
            >
              <div class="sc-home__form--inputs">
                <input type="email" pInputText placeholder="E-mail" />
                <input type="password" pInputText placeholder="Senha" />
              </div>
              <div class="sc-home__actions">
                <button type="submit" pButton pRipple label="Login"></button>
                <span class="text-red-600" (click)="loginCard = !loginCard">
                  Criar Conta
                </span>
              </div>
            </p-card>
          </form>
        </ng-container>

        <ng-template #signInTemplate>
          <form>
            <p-card
              styleClass="mt-10"
              header="Criar conta"
              subheader="Crie já sua conta gratuita!"
            >
              <div class="sc-home__form--inputs">
                <input type="text" pInputText placeholder="Nome" />
                <input type="email" pInputText placeholder="E-mail" />
                <input type="password" pInputText placeholder="Senha" />
              </div>

              <div class="sc-home__actions">
                <button
                  type="submit"
                  pButton
                  pRipple
                  label="Criar conta"
                ></button>
                <span
                  class="text-red-600"
                  (click)="loginCard = !loginCard"
                >
                  Fazer login
                </span>
              </div>
            </p-card>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
